body {
    padding: 0px;
    margin: 0px;
    height: 2000px;
}

.main-nav {
    position: fixed;
    display: inline-block;
    text-align: right;
    width: 100%;
    vertical-align: middle;
    z-index: 1;
  }

  .logo {
    display: inline-block;
    vertical-align: middle;
  }

  .main-nav__items {
    margin:0;
    padding:0;
    list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 15px 25px 15px 5px;
}

.main-nav__item a {
    color: #222222;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 900;
  }

.header {
    box-shadow: 0px 8px 10px -2px rgba(0,0,0,0.75);
}

.header__background {
    height: 650px;
    background: cornsilk;
}

.header__image {
    background-image: url("assets/images/background-img/test2-no-bg.svg");
    background-position: center;
    height: 100%;
    width: 100%;
}

.header__title, .header__text {
    text-align: center;
    position: relative;
    padding: 15% 0px;
    margin: 0px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.8em;
    font-weight: bolder;
    color: #222222;
}



